<div id="map"></div>
<script>
     function getpharmacy () {
         return $.ajax({
                     type: "POST",
                     url: "@Url.Action("GetPharmacy", "Home")",
                     async: false,
                     contentType: "application/json; charset=utf-8",
                     dataType: "json",
                     success: function (_result) {                          
                     },
                     error: function (error) {
                         alert('error: ' + error);
                     }
                 });
     };

     var result = getpharmacy();

     function initMap() {
         const map = new google.maps.Map(document.getElementById("map"), {
             zoom: 15,
             center: {
                 lat: 25.0374865,
                 lng: 121.5647688
             }
         });

        setMarkers(map);
     }

     function setMarkers(map) {
         for (var i= 0; i < result.responseJSON.length; i++) {
             const results = result.responseJSON[i];
             const contentString =
                 '<div id="content">' +
                     '<h1 id="firstHeading" class="firstHeading">' + results.name + "</h1>" +
                     '<div id="bodyContent">' +
                         "<p>電話: " + results.phone + "<br>" +
                         "地址: " + results.address + "<br>" +
                         "成人口罩數量: " + results.mask_adult + "<br>" +
                         "兒童口罩數量: " + results.mask_child + "<br>" +
                         "更新時間: " + results.updated + "<br></p>" +
                     "</div>" +
                 "</div>";
             const infowindow = new google.maps.InfoWindow({
                 content: contentString
             });
             const marker = new google.maps.Marker({
                 position: {
                     lng: results.las,
                     lat: results.lng
                 },
                 map,
                 title: results.name
             });
             marker.addListener("click", () => {
                 infowindow.open(map, marker);
             });
         }
     }
 </script>
<script defer
            src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXX&callback=initMap">
    </script>