<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 600px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
    <script>
        function getpharmacy () {
            return $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetPharmacy", "Home")",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (_result) {                          
                        },
                        error: function (error) {
                            alert('error: ' + error);
                        }
                    });
        };

        var result = getpharmacy();
        //console.log(result.responseJSON[0].name);

        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: {
                    lat: 25.0374865,
                    lng: 121.5647688
                }
            });

           setMarkers(map);
        }

        function setMarkers(map) {
            for (var i= 0; i < result.responseJSON.length; i++) {
                const results = result.responseJSON[i];                
                var marker = new google.maps.Marker({
                    position: {
                        lng: results.las,
                        lat: results.lng
                    },
                    map,
                    title: results.name
                });
            }
        }
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXX&callback=initMap">
    </script>
</head>
<body>
    <h3>Mask Maps</h3>
    <div id="map"></div>
</body>
</html>